<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>¿Quienes Somos?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nosotros</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Soy Cristopher Rodríguez, un apasionado de los deportes al aire libre. Quiero compartir mi pasión contigo y motivarte a disfrutar de la naturaleza mientras te mantienes activo y saludable.</p>
      <p>En esta plataforma encontrarás información, consejos y recursos relacionados con una amplia variedad de deportes al aire libre, desde senderismo y ciclismo hasta escalada y surf.</p>
      <p>¡Explora los contenidos y únete a mí en esta aventura de descubrir el mundo a través del deporte y la naturaleza!</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="team-card">
    <ion-card-header>
      <ion-card-title>Miembro del Equipo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/aboutus/Cristopher.jpeg" alt="Miembro del equipo">
        </ion-avatar>
        <ion-label>
          <h3>Cristopher Rodríguez</h3>
          <p>Apasionado de los deportes al aire libre</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
