<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Parque Metropolitano de Santiago</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <img src="/assets/images/metropolitano/Mapa.jpg" alt="Parque Metropolitano de Santiago">
    <ion-card-header>
      <ion-card-title>Información general</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label class="ion-margin-bottom">Fecha de creación:</ion-label>
        <ion-textarea readonly>11 de diciembre de 1916</ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label class="ion-margin-bottom">Superficie:</ion-label>
        <ion-textarea readonly>722 hectáreas</ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label class="ion-margin-bottom">Ubicación:</ion-label>
        <ion-textarea readonly>Cerro San Cristóbal, Santiago, Chile</ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label class="ion-margin-bottom">Dificultad de senderos:</ion-label>
        <ion-textarea readonly>Variada, principiante a intermedia</ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label class="ion-margin-bottom">Sectores principales:</ion-label>
        <ion-textarea readonly>Pio Nono, Tupahue, Oasis, Bosque Santiago</ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label class="ion-margin-bottom">Horarios:</ion-label>
        <ion-textarea readonly>Abierto todos los días de 8:30 a 20:00</ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label class="ion-margin-bottom">Servicios:</ion-label>
        <ion-textarea readonly>Áreas de picnic, miradores, teleférico, zoológico</ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label class="ion-margin-bottom">Cómo llegar:</ion-label>
        <ion-textarea readonly>Puedes acceder al parque a través de diferentes accesos ubicados en diferentes puntos de la ciudad de Santiago</ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label class="ion-margin-bottom">Recomendaciones:</ion-label>
        <ion-textarea readonly>Llevar protector solar, agua, y ropa cómoda para caminar</ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
