<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Parque nacional La Campana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/images/campana/Mapa.jpg" alt="Parque La Campana">
    <ion-card-header>
      <ion-card-title>Información general</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label class="ion-margin-bottom">Fecha de creación:</ion-label>
        <ion-textarea readonly>17 de octubre de 1967</ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label class="ion-margin-bottom">Superficie:</ion-label>
        <ion-textarea readonly>8.000 hectáreas</ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label class="ion-margin-bottom">Ubicación:</ion-label>
        <ion-textarea readonly>cordillera de la Costa, Región de Valparaíso</ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label class="ion-margin-bottom">Dificultad de senderos:</ion-label>
        <ion-textarea readonly>Variada, principiante a exigente</ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label class="ion-margin-bottom">Sectores principales:</ion-label>
        <ion-textarea readonly>Palmas de Ocoa, Granizo y Cajón Grande</ion-textarea>
      </ion-item>

      <img src="\assets\images\campana\Mapa1.png" alt="Mapa1">
      <img src="\assets\images\campana\Mapa2.png" alt="Mapa2">
      <img src="\assets\images\campana\Mapa3.png" alt="Mapa3">

      <ion-item>
        <ion-label class="ion-margin-bottom">Horario de escalada:</ion-label>
        <ion-textarea readonly>Los interesados deben registrarse en el puesto de control de ingreso del sector Granizo, entre las 8.30 y las 9.30 horas. Y luego descender, como máximo, a las 14.30</ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label class="ion-margin-bottom">Objetos de conservación:</ion-label>
        <ion-textarea readonly>Carnívoros, bosque y matorral esclerófilo, palma chilena, bosque de roble, matorral xerófito, ecosistemas de altura, red hidrobiológica, piedras tacitas, testimonio y lugares patrimoniales.</ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label class="ion-margin-bottom">Cómo llegar:</ion-label>
        <ion-textarea readonly>Para llegar a este parque debes llegar primero a Olmué, desde donde existen buses públicos que llevan a La Campana, en un recorrido de 12 kilómetros aproximadamente.</ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label class="ion-margin-bottom">Importante:</ion-label>
        <ion-textarea readonly>Llevar tu propia reserva de agua potable y snacks para consumir durante tu recorrido</ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
