<!-- Componente MisDatosComponent -->


  <form [formGroup]="userInfoForm">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="apellido" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nivel de educación</ion-label>
      <ion-select formControlName="nivelEducacion">
        <ion-select-option value="Primaria">Primaria</ion-select-option>
        <ion-select-option value="Secundaria">Secundaria</ion-select-option>
        <ion-select-option value="Universidad">Universidad</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de nacimiento</ion-label>
      <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </ion-item>

    <div class="ion-padding">
      <ion-button expand="full" color="primary" (click)="limpiarCampos()" [class.fadeInLeft]="isClearing"
        [class.active]="isClearing">Limpiar</ion-button>
      <ion-button expand="full" color="primary" (click)="mostrarInformacion()" [class.fadeInRight]="isShowing"
        [class.active]="isShowing">Mostrar</ion-button>
    </div>
  </form>

