  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-segment mode="md" [(ngModel)]="segmentValue">
      <ion-segment-button value="experiencia">
        Experiencia Laboral
      </ion-segment-button>
      <ion-segment-button value="certificaciones">
        Certificaciones
      </ion-segment-button>
      <ion-segment-button value="misdatos">
        Mis Datos
      </ion-segment-button>
    </ion-segment>

    <ion-list *ngIf="segmentValue === 'experiencia'">
      <!-- Aquí se mostrará el componente de Experiencia Laboral -->
      <app-experiencialaboralcomponent></app-experiencialaboralcomponent>
    </ion-list>

    <ion-list *ngIf="segmentValue === 'certificaciones'">
      <!-- Aquí se mostrará el componente de Certificaciones -->
      <app-certificacionescomponent></app-certificacionescomponent>
    </ion-list>

    <ion-list *ngIf="segmentValue === 'misdatos'">
      <!-- Aquí se mostrará el componente de Mis Datos -->
      <app-misdatoscomponent></app-misdatoscomponent>
    </ion-list>
  </ion-content>
